body {
  overflow: hidden;
}
.news {
  width: 100%;
  height: 100%;
  top: 0;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Guardian Text Egyptian Web",Georgia,serif
}
@media (max-width: 768px) {
  * {
    font-size: 0.8rem;
  }
}
